#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background: #47a261;
    box-shadow:0 5px 15px rgba(0,0,0,0.6);
    z-index: 999;
    position:sticky;
    top: 0;
    left:0;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
list-style: none;
padding: 0 20px;
position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size:16px ;
    font-weight: 600;
    color: black;
    transition:0.3s ease ;

}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(236, 93, 37);
}




#navbar li a:hover::after{
    content: "";
    width:38%;
    height: 2px;
    background:black;
    position: absolute;
    bottom: -4px;
    left: 20px;

}



#about{
     text-align: center;
 }
 

#about .images{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

#about .images img {
    width: 600px; 
    height: 500px; 
    margin: 0 10px;
}

#about .content {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: 20px;
}

#about .banner-image img{
    width: 100%;
   height: 200px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}



footer a{
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

footer .Follow{
    margin-top: 20px;
}

footer .Follow i{
    color: #535151;
    padding-right: 4px;
    cursor: pointer;
}
footer .colinstall img{
    width: 30%;
    height:40%
}
footer .pay img{
    width: 50%;
    height:60%  
}



footer .Follow i:hover,
footer a:hover{
    color: rgb(30, 72, 40);
}

footer .copyright{
    width: 100%;
    text-align: center;
}

