
#header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px 80px;
    background:rgb(103, 171, 111);
    box-shadow:0 5px 15px rgba(0,0,0,0.6);
    z-index: 999;
    position:sticky;
    top: 0;
    left:0;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
list-style: none;
padding: 0 20px;
position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size:16px ;
    font-weight: 600;
    color: black;
    transition:0.3s ease ;

}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(236, 93, 37);
}




#navbar li a:hover::after{
    content: "";
    width:38%;
    height: 2px;
    background:black;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

.banner img{
    width: 100%;
    height: 20%;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}




.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

#home h3{
    font-size: 60px;

}

#home h1 span{
    color: rgb(230, 147, 23);
}
button.normal{
    
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: aliceblue;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
}
 #heading h1{
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 1rem;
    margin: 2rem 0;
    background:rgb(234, 194, 164);
 }
 
 
 #feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature img{
    width: 200px;
    height: 150px;
    object-fit: cover;

}

#feature .fe-box{
    width:180px;
    text-align:center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.6);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 45px rgba(45, 42, 42, 0.236);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
}

#feature .fe-box:hover h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: aqua;
    background-color: azure;
}

#product{
    text-align: center;
 }

 #product h1{
    font-size: 40px;
 }



#product p{
    font-size: 25px;
}

#product .pro .des h2{
    font-size: 20px;
    
}

#product .pro-container{
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: space-around;
    padding: 10px;
    flex-wrap:wrap;
    gap: 5px;
   
}


#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(113, 99, 88);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 15px 0;
    transition: 0.2s ease;
}



#product .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
}

#product .pro img{
    width: 100%;
    border-radius: 20px;
}

#product .pro .des{
    text-align: start;
    padding: 10px 0;

}

#product .pro .des span{
    color: #535151;
    font-size: 12px;

}

#product .pro .des h5{
    padding-top: 7px;
    color: black;
    font-size: 14px;
   
}



#product .pro .des i{
    font-size: 12px;
    color: rgb(230, 185, 6);

}

#product img{
    width: 250px;
    height: 250px;
    font-size: 12px;
    color: rgb(230, 185, 6);

}
#banner{
    width: 100%;
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: rgb(103, 171, 111);
   
    
}
#banner h1{
    color: rgba(13, 8, 1, 0.808);
    font-size: 30px;
    padding: 10px 0;
    }

#banner h1 span{
    color: rgb(23, 80, 44);
}


#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/sm\ banner.jpg);
    min-width:580px;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/sm\ banner\ 2.jpg);
    min-width:580px;
    height: 40vh;
    background-size: cover;
    background-position: center;

}
    


#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap:nowrap;
    gap: 25px;
}

#sm-banner h4{
    color: #090909;
    font-size: 20px;
    font-weight: 800;


}

#sm-banner span{
    color: #050505;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 15px;
}


button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: aliceblue;
    cursor: pointer;
    border: 1px solid rgb(227, 211, 199);
    outline: none;
    transition: 0.2s ease;
}

#sm-banner .banner-box:hover button{
    background: rgb(16, 104, 26);
    border: 2px solid rgb(17, 19, 19);

}

#sm-banner .banner-box2:hover button{
    background: rgb(16, 104, 26);
    border: 2px solid rgb(17, 19, 19); 
}

#review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
   
}

#review .box-container .box{
flex: 1 1 30rem;
box-shadow: 0 .5rem 1.5rem black;
border-radius: .5rem;
padding: 3rem 2rem;
position: relative;
border: .1rem solid black;
}
   
  
#review .box-container .box .fa-quote-right{
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: rgb(53, 55, 58);
}

#review .box-container .box p{
    font-size: 20px;
}
#review .box-container .box h3{
font-size: 19px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#review .box-container .box .star{
    color: rgb(211, 176, 22);
    font-size: 18px;
}

#review .box-container .box .user img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;

}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-position: 100% 100%;;
    background-color: rgb(126, 39, 88);
    box-sizing: border-box;
    flex: 1 1 30rem;
    border-radius: .5rem;
    border-color: 0.5px black;
}

#newsletter h4{
    font-size: 20px;
    font-weight: 700;
    color: black;
}

#newsletter p{
    font-size: 14px;
    font-weight: 400;
    color: black;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter p span{
    color: rgb(218, 169, 19);
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width:100% ;
    border:1px solid transparent ;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-top-right-radius: 0;
}


#newsletter button{
    background-color: rgb(201, 174, 99);
    color: #cce7d0;
    white-space:nowrap;
    border-top-left-radius: 0;
    border-top-left-radius: 0;

}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}


footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}



footer a{
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
}

footer .Follow{
    margin-top: 20px;
}

footer .Follow i{
    color: #535151;
    padding-right: 4px;
    cursor: pointer;
}



footer .Follow i:hover,
footer a:hover{
    color: rgb(30, 72, 40);
}

footer .copyright{
    width: 100%;
    text-align: center;
}

footer .colinstall img{
    width: 30%;
    height:40%
}
footer .pay img{
    width: 50%;
    height:60%  
}

















    







